$primary: #501d6aff;
$secondary: #156ca2ff;
$accent1: #875da9ff;
$accent2: #62a0caff;
$accent3: #be9ce7ff;
$accent4: #afd4f1ff;

$serif: georgia;
$sansHead: 'Noto Sans';
$sansPara: arial;

$normal: 400;
$bold: 700;