.cards {
  display: grid;
  grid-gap: .3em;
  padding: 1em;
  background-color: lightgray;
  box-shadow: 0px 0px 30px 10px #00000099;
}

section {
  width: 100%;
  background-color: #b9b9cc;
  border: 1px solid navy;
}

p, h1, h2 {
  text-align: center;
}

h1, h2 {
  color: #4d4d96;
  font-family: 'Bree Serif';
}

h1 {
  font-size: 3rem;
}

p {
  white-space: pre-wrap;
  font-family: sans-serif;
}

section > div {
  width: 75%;
  margin: 0 auto .5rem;
}

img {
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 10px 3px #000000;

}

@media only screen and (min-width:34.5em) {
  .cards {
    grid-template-columns: auto auto;
    margin: 1em;
  }
}

@media only screen and (min-width:75em) {
  .cards {
    grid-template-columns: repeat(4, auto);
  }
}