table {
  border-collapse: collapse;
  border: 1px solid rgb(200, 200, 200);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: .9rem;
  text-align: center;
  margin: 5rem auto;
  box-shadow: 7px 7px 10px 0px #628CA6;
}

td,
th,
thead {
  border: 1px solid rgb(190, 190, 190);
  padding: 7px 10px;
}

thead tr th,
tfoot tr td {
  background-color: #7fb9c2;
}

thead tr th {
  font-size: 1.5rem;
}

tbody tr th {
  background-color: #628ca6;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

tbody tr:nth-child(even) td {
  background-color: #e7f0ed;
}

tbody tr td {
  background-color: #e7ffed;
}

#novemberGoal {
  background-color: #628ca6;
  color: white;
}

tfoot tr td {
  font-size: .7rem;
  letter-spacing: 0;
}