body {
    background-color: #dad7d7;
    display: flex;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
}

main {
    border-radius: 20px;
    background-color: #ffffff;
    width: 32%;
    margin: auto;
    margin-top: 30px;
}

main header {
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 6px;
    font-size: 0.25em;
    display: grid;
    grid-template-columns: 50% 50%;
}

main header .delta {
   margin-top: auto;
   margin-bottom: auto;
   margin-left: 2em;
   margin-top: 4em; 
}

main header .name {
    top: auto;
    bottom: auto;
    text-align: right;
    padding: 1em;
    font-size: 2.5em;
    padding-top: 16px;
    margin-right: 8px;
    color: #0b3663;
    font-weight: 200;
}

main .city-info {
    background-color: #001b36;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    text-justify: center;
    color: #FFFFFF;
}

main .city-info p {
    color: #40658d;
    font-size: 0.5em;
}

#logo p{
    margin-top: .5em;
    padding-left: 1em;
    font-size: 1.9em;
    color: #0b3663;
}

#logo {
    width: 100%;
    margin-left: 8%;
}

#logo img {
    margin-top: 4em;
    margin-left: 2em;
    width: 50%;
}

.top-city {
    margin-top: 2.5em;
    margin-bottom: 1.75em;
}

.bottom-city {
    margin-bottom: 2.5em;

}

main .city-info h1 {
    padding: 0;
    margin:0;
}

#barcode {
    margin: auto;
    margin-bottom: 20px;
    width: 90%;
}

main .flight-info {
    background-color: #F1F1F1;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    text-align: center;
    color: #0b3663;
    padding-bottom: 0;
    margin-bottom: 0;
}

main .flight-info h6 {
    margin-bottom: 3px;
    padding-top: 3px;
    font-size: .5em;
    font-weight: 800;
}

main .flight-info p {
    margin-top: 0;
}

main footer {
    margin-bottom: 0px;
    text-align: center;
    font-size: 0.7em;
    padding: 25px;
    font-weight: 200;
}

.centerImg {
    margin: auto;
}